---
layout: page
title: Search
---

{% assign authors = site.posts | map: "author" | compact %}
{% assign authors = authors | join: ','  | split: ','  | uniq | sort %}

<form role="search">
<div class="search-control" style="display:none;">
    <input type="search" id="person-serarch" name="query"
           placeholder="Keyword Search"
           aria-label="Search posts using keyword">
    <select id="authorselect" name="author"
      aria-label="Dropdown for author">
        <option value="">All authors</option>
        {% for author in authors %}
          {% if author != '' %}
          <option value="{{author}}">{{author}}</option>
          {% endif %}
        {% endfor %}
    </select>
    <button class="custom_button" style="float: right;">Search</button>
</div>
</form>

<div id="header_info"></div>
<div style="float: left; width: 20%; ">
  <div id="facets"></div>
</div>
<div style="float: left; width: 80%; display: none; border: 1px solid #ccc" class="all_results">
  <div id="search_results">
    <div id="searchInfo">
      <span id="number_results"></span>
    </div>
  </div>
  <ul id="resultslist"></ul>
  <div id="pagination"></div>
</div>
<div style="clear:both"><span></span></div>

<script src="{{site.baseurl}}/js/custom-search.js"></script>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/custom-search.css">
<div id="spinner"><i class="fa fa-spinner fa-spin"></i></div>

<script src="{{site.baseurl}}/js/index.js"></script>

<script>
    window.addEventListener("load", function(){
        loadsearchtemplate();
        $('#spinner').hide();
    });
</script>
    

